@import "tailwindcss";
@plugin 'tailwind-scrollbar';

body {
    @apply bg-[#4A3728] text-white;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #4A3728 inset !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #4A3728 inset !important;
  -webkit-text-fill-color: white !important;
}
